<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add candidate</title>
</head>
<body>
<form action="/candidate/add" method="post" th:object="${candidate}">
    <div>
        <label for="name">Full Name</label>
        <div>
            <input id="name" th:field="*{fullName}">
        </div>
    </div>

    <div>
        <label for="phone">Phone</label>
        <div>
            <input id="phone" th:field="*{phone}" type="tel">
        </div>
    </div>

    <div>
        <label for="email">Email</label>
        <div>
            <input id="email" th:field="*{email}">
        </div>
    </div>

    <div class="mb-3 row">
        <label for="dob" class="col-sm-2 col-form-label">Birthday</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" id="dob" th:field="${candidate.dob}">
        </div>

    <div class="mb-3 row gutter-0">
        <label class="col-sm-2 col-form-label">Address</label> <br>
        <label class="col-sm-1">
            <input type="text" class="form-control" placeholder="Number" th:field="${address.number}">
        </label>
        <label class="col-sm-1">
            <input type="text" class="form-control" placeholder="Street" th:field="${address.street}">
        </label>
        <label class="col-sm-1">
            <input type="text" class="form-control" placeholder="Zipcode" th:field="${address.zipcode}">
        </label>
        <label class="col-sm-3">
            <input type="text" class="form-control" placeholder="City" th:field="${address.city}">
        </label>
        <label class="col-sm-4">
            <select class="form-select" aria-label="Default select example" th:field="${address.country}">
                <option th:each="country : ${country}"
                        th:value="${country}"
                        th:text="${country.getName()}" />
            </select>
        </label>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Add candidate</button>
    </div>

</form>
</body>
</html>